.app-container {
  width: 80%;
  margin: auto;

  .show-search {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding: 1.2rem 0;
  }

  .employees-table {
    border-collapse: collapse; /* Pour fusionner les bordures */
    width: 100%;

    th,
    td {
      border: none;
      padding: 8px;
      text-align: left;

      .th-title {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 0;
      }

      .up-down {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 1.5rem;
        margin-left: 0.5rem;
        color: rgb(208, 208, 208);

        .sorted-icon {
          color: #5a6f08;
        }
      }
    }

    th:hover {
      background-color: #93ad18;
      color: #ffffff;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    tbody {
      border-top: 1px solid #d6d6d6;
      border-bottom: 1px solid #d6d6d6;
    }

    .table-row-odd {
      background-color: #d7ddbb;
    }

    .table-row-even {
      background-color: #ffffff;
    }

    .sorted-column {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #ffff99;
        filter: saturate(0.3);
        mix-blend-mode: multiply; /* Applique l'effet de mélange pour l'overlay */
        pointer-events: none; /* Évite d'interférer avec les interactions de la colonne en-tête */
        z-index: 1;
      }
    }
  }

  .flex-pagination {
    display: flex;
    justify-content: space-between;
    width: 100%;
    // padding: 1.2rem 0;
    margin: 1.2rem 0;

    // .pagination {
    //   display: flex;
    //   align-items: center;
    //   gap: 0.5rem;
    //   margin-top: 1rem;

    //   button {
    //     cursor: pointer;
    //     padding: 0.3rem 0.6rem;
    //     border: none;
    //     background-color: #d7ddbb;
    //     color: #ffffff;
    //     transition: background-color 0.3s ease;

    //     &:hover {
    //       background-color: #93ad18;
    //       color: #ffffff;
    //     }
    //   }

    //   button.current-page {
    //     font-weight: bold;
    //     background-color: #5a6f08;
    //     color: white;

    //     &:hover {
    //       background-color: #93ad18;
    //       // border-color: #93ad18;
    //     }
    //   }

    //   .previous-next {
    //     background-color: #5a6f08;
    //     color: #ffffff;
    //   }
    // }
  }

  .link-employee {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    border-radius: 0.5rem;

    a {
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
      background-color: #5a6f08;
      border-radius: 0.5rem;
      padding: 1rem;
      text-decoration: none;
      color: #ffffff;

      &:hover {
        background-color: #93ad18;
      }
    }
  }

  .display {
    display: fle6x;
    justify-content: center;
    width: 100%;

    .centered-message {
      text-align: center;
    }
  }

  // .error-modal {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   height: 100px;
  //   background-color: rgba(255, 0, 0, 0.1);
  //   border: 1px solid red;
  //   margin-top: 20px;
  // }

  .error-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: rgba(255, 0, 0, 0.1);
    border: 1px solid red;
    margin-top: 30px;
  }
}

// .error-message {
//   color: red;
//   font-size: 16px;
//   text-align: center;
//   margin-top: 20px; /* Ajoutez un espace en haut de l'erreur */
// }

/* Animation for error message */
@keyframes slideInFromTop {
  0% {
    transform: translateY(-30%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.error-message {
  animation: slideInFromTop 0.5s ease-in-out;
}
