.entries {
    display: flex;
    align-items: center;

    span {
        background-color: #5a6f08;
        padding: 0.3rem;
        color: #ffffff;
    }

    p {
        padding: 0.3rem;
        background-color: #d7ddbb;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 1rem;
    }
}